body, html {
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: #666;
}

a {
  color: #ddd;
}

.bg1, .bg2, .bg3, .bg4 {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.bg1 {
  background-image: url('../images/image5.jpg');
  min-height: 100%;
}

.bg2 {
  background-image: url('../images/image6.jpg');
  min-height: 90%;
}

.bg3 {
  background-image: url('../images/image7.jpg');
  min-height: 90%;
}
.bg4 {
  background-image: url('../images/image4.jpg');
  min-height: 90%;
}


.section {
  text-align: center;
  padding: 50px 80px;
  background-color: #282e34;
  color: #ddd;
}

.label {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 18px;
  letter-spacing: 8px;
  text-transform: uppercase;
}
.label.first {
  top: 50%;
  transform-origin: center  center 0;
  transform: translateZ(-1px) scale(2);
  z_index: -1;

}
.label.second {
  top: 80%;
  transform: translateZ(-1px) scale(1);
  z_index: -1;

}

.label .border {
  background-color: rgba(0,0,0,0.8);
  color: #ddd;
  padding: 20px;
  border-radius: 20%;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .label {
    font-size: 18px;
  }

  .bg1 {
    min-height: 500%;
  }
  .bg2 {
    min-height: 20%;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .label {
    font-size: 22px;
  }
}

@media (max-width: 768px) {
  .bg1, .bg2, .bg3, .bg4 {
    background-attachment: scroll;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .label {
    font-size: 24px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .label {
    font-size: 28px;
  }
}
